language: python
python:
  - "2.7" #Need to fix issue #2 first
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7-dev"
install:
  - pip install -e .
  # dev/testing stuff
  - pip install -r requirements.txt
script:
  - py.test
after_success:
  - coveralls
